@import "src/assets/style/variables";
.modal-school-classes{
    position: absolute;
    left: 0;
    top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

}

.modal-classes-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .3;
  left: 0;
  top: 0;
}
.classes-container{
    min-height: 300px;
   min-width: 700px;
  background-color: white;
  position: relative;
}
.teachers-container{

  span{
     font-size: 40px;
  }
  select{
     font-size: 30px;
  }
}
.classes-information{
   display: flex;
  justify-content: center;
}
.class-name-tools{
width: 100%;

  span{
     font-size:30px;
    padding: 10px;
  }
  input{
     width:50%;
    padding: 20px;
    font-size: 20px;
  }
  p{
     color: red;
    font-size: 25px;
  }
}
.children-container{
   margin-top: 50px;

  h1{
    color: aqua;
    padding: 10px;
  }

  span{
     padding: 10px;
    font-size: 30px;
  }
}

.button-save-cancel{
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;

  button{
    position: relative;
    border: none;
    color: #ffffff;
    width: 20%;
    height: 70px;
    font-size: 20px;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(
                    90deg, #03a9f4,#f441a5,
                    #ffeb3b , #03a9f4
    );
    background-size: 300%;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;

  }
  button:hover{
    animation: animation 8s linear infinite;
    border: none;
  }
  @keyframes animation {
    0%{background-position: 0%;}
    100%{background-position: 400%;}

  }
  button::before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    background: linear-gradient(
                    90deg, #03a9f4,#f441a5,
                    #ffeb3b , #03a9f4
    );
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  button:hover::before{
    filter: blur(20px);
  }
}


